

/* @font-face */ 

@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Nunito-Light";
    src: url(../fonts/Nunito/Nunito-Light.ttf);
}