/* Extra small devices (under 576px) */
@media (max-width: 576px) {
    .right-screen-js > .centered-2 > #home-right a {
        font-size: 28px;
        line-height: 30.08px;
        padding-bottom: 0px;
    }
    #home-right a {
        font-size: 47px;
        line-height: 24.08px;
    } 
    .about-me img {
        width: 100%;
        height: 100%;
    }
    .work-design img {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .work-coding img {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .portfolio-ul li>a {
        font-size: 14px;
        padding-right: 26px;
    }
    .text-js {
        font-size: 30px !important;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .right-screen-js > .centered-2 > #home-right a {
        font-size: 27px;
        line-height: 19.08px;
        padding-bottom: 0px;
    }
    #home-right a {
        font-size: 57px;
        line-height: 24.08px;
    }  
    .about-me h3 {
        font-size: 27px;
        margin-top: 10px;
    }
    .about-me-text h3 {
        width: 400px;
        display: flex;
        font-size: 22px;
        padding-bottom: 10px;
    }
    .about-me img {
        width: 100%;
        height: 100%;
    }
    .about-me-text p {
        display: flex;
        width: 400px;
        word-wrap: break-word;
        hyphens: auto;
        overflow-wrap: break-word;
    }
    .skills h3 {
        font-size: 25px;
    }
    .skills-2 h3 {
        margin-top: 20px;
    }
    #testimonial-1 {
        font-size: 15px;
        
    }
    #testimonial-2 {
        
        font-size: 15px;
        margin-right: 0px;
    }
    .img-wrap img {
        width: 55px;
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 4px;
    }
    .work-design img {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .work-coding img {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .iframe iframe {
        width: 90% !important;
    }
    .work-1:hover .overlay {
        height: 80%;
        width: 75%;
      }
      .work-2:hover .overlay {
        height: 80%;
        width: 75%;
      }
      .work-3:hover .overlay {
        height: 80%;
        width: 75%;
      }
      .work-4:hover .overlay {
        height: 80%;
        width: 75%;
      }
      .work-5:hover .overlay {
        height: 80%;
        width: 75%;
      }
      .work-6:hover .overlay {
        height: 80%;
        width: 75%;
      }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.right-screen-js > .centered-2 > #home-right a {
    font-size: 38px;
    padding-bottom: 0px;
    line-height: 42.08px;
}
#home-right a {
    font-size: 79.08px;
    line-height: 52.08px;
} 
.about-me h3 {
    font-size: 35px;
    width: 430px;
    margin-top: 30px;
}
.about-me-text h3 {
    width: 400px;
    display: flex;
    font-size: 25px;
    padding-bottom: 25px;
}
.about-me img {
    width: 50%;
    height: 50%;
}
.about-me-text p {
    display: flex;
    font-size: 20px;
    width: 400px;    
}
.skills h3 {
    font-size: 25px;
}
.skills-2 h3 {
    margin-top: 20px;
}
#testimonial-1 {
    font-size: 20px;
    margin-right: 15px;
}
#testimonial-2 {
    font-size: 20px;
    margin-right: 15px;
}
.img-wrap img {
    width: 55px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 4px;
}
.blog-title a {
    font-size: 16px;
}
.work-design img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.work-coding img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.iframe iframe {
    width: 90% !important;
}
.work-1:hover .overlay {
    height: 83%;
    width: 80%;
}
.work-2:hover .overlay {
    height: 83%;
    width: 80%;
}
.work-3:hover .overlay {
    height: 83%;
    width: 80%;
}
.work-4:hover .overlay {
    height: 83%;
    width: 80%;
}
.work-5:hover .overlay {
    height: 83%;
    width: 80%;
}
.work-6:hover .overlay {
    height: 83%;
    width: 80%;
}
.contact h4 {
    padding-top: 4rem;
}
.right-menu a {
    font-family: "Nunito-Black";
    color: white;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1.5px;
    font-size: 40.08px;
    font-weight: 900;
    padding-bottom: 0px;
    line-height: 58.08px;
    transition: all 0.6s;
    text-transform: uppercase;
}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-js {
        font-size: 48px !important;
    }
    .right-screen-js > .centered-2 > #home-right a {
        font-size: 50px;
        padding-bottom: 0px;
        line-height: 52.08px;
    }
    #home-right a {
        font-size: 79.08px;
        line-height: 52.08px;
    } 
    .nav-item a {
        bottom: 80px;
        left: 20px;
    }
    .about-me h3 {
        font-size: 35px;
        margin-top: 30px;
    }
    #about-img {
        float: left;
    }
    .about-me img {
        width: 30%;
        height: 30%;
        float: left;
    }
    .about-me-text h3 {
        width: 50%;
        display: flex; 
        /* padding-left: -50px; */
        padding-top: 0px;
        padding-bottom: 3px; 
        font-size: 20px; 
    }
    .about-me-text p {
        /* display: flex; */
        font-size: 15px;
        width: 60%;
        /* width: 400px;     */
    }
    .skills-2 span {
        margin-top: 5px;
    }
    .img-wrap img {
        margin: 0;
        padding: 0;
    }
    #testimonial-1 {
        margin-left: 0;
    }
    #testimonial-1 {
        font-size: 20px;
        margin-right: 15px;
    }
    #testimonial-2 {
        font-size: 20px;
        margin-right: 15px;
    }
    .img-wrap img {
        width: 55px;
        border-radius: 50%;
        margin-left: 4px;
    }
    .work-design img {
        width: 100%;
        height: 100%;
    }
    .work-coding img {
        width: 100%;
        height: 100%;
    }
    .contact {
        padding-left: 10px !important;
        width: 110% !important;
    }
    .work-1:hover .overlay {
        height: 86%;
        width: 83%;
    }
    .work-2:hover .overlay {
        height: 86%;
        width: 83%;
    }
    .work-3:hover .overlay {
        height: 86%;
        width: 83%;
    }
    .work-4:hover .overlay {
        height: 86%;
        width: 83%;
    }
    .work-5:hover .overlay {
        height: 86%;
        width: 83%;
    }
    .work-6:hover .overlay {
        height: 86%;
        width: 83%;
    }
    .contact h4 {
        padding-top: 0;
    }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.right-screen-js > .centered-2 > #home-right a {
    font-size: 66px;
    padding-bottom: 10px;
    line-height: 52.08px;
}
#home-right a {
    font-size: 79.08px;
    line-height: 52.08px;
} 
.nav-item a {
    top: -125px;
    right: 50px;
}
.about-me img {
    width: 28%;
    height: 20%;
    float: left;
}
.about-me-text h3 {
    width: 50%;
    display: flex; 
    padding-top: 0px;
    padding-bottom: 3px; 
    font-size: 20px; 
}
.about-me-text p {
    font-size: 15px;
    width: 70%;
}
.work-design img {
    width: 100%;
    height: 100%;
    max-width: 40%;
}
.work-coding img {
    width: 100%;
    height: 100%;
    max-width: 40%;
}
.contact {
    width: 100% !important;
}
.work-1:hover .overlay {
    height: 88%;
    width: 84%;
}
.work-2:hover .overlay {
    height: 88%;
    width: 84%;
}
.work-3:hover .overlay {
    height: 88%;
    width: 84%;
}
.work-4:hover .overlay {
    height: 88%;
    width: 84%;
}
.work-5:hover .overlay {
    height: 88%;
    width: 84%;
}
.work-6:hover .overlay {
    height: 88%;
    width: 84%;
}
}
