body {
    margin: 0;
    padding: 0;
}
.img-size {
    width: 150px;
    height: 150px;
}
.products-grid {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.product-image {
    display: inline-block;
    flex: 0 31 50%;
    margin-bottom: 20px;
}
.variants {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}
.variants li {
    display: inline;
}
.variants a {
    text-decoration: none;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    padding-right: 40px;
}
.variants li.active > a {
    color: rgba(33,147,176,1);
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}