

/* @font-face */ 

@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Nunito-Light";
    src: url(../fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
    font-family: "Nunito-Black";
    src: url(../fonts/Nunito/Nunito-Black.ttf);
}
@font-face {
    font-family: "Kalam";
    src: url(../fonts/Kalam/Kalam-Regular.ttf);
}