@import url(./fonts.css);
@import url(./media-query.css);

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    overflow-x: hidden;
}
/* Header start */
.top-bar-sale {
  background-color: #364f6b;
  color: #fff;
  padding: 13px 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  font-family: Kalam;
}
.top-bar-sale h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
.top-bar-sale:hover {
  background-color: #00EFD1;
  transition: 0.5s;
  color: #364f6b;
}
header .container-fluid {
  padding: 0;
}
.header {
  width: 85%;
}
/* ================= CURRENCY DROPDOWN (CONVERTER) =============== */
.currency-dropdown {
  position: relative;
  width: 140px;
}
/*hide original SELECT element: */
.currency-dropdown select {
  display: none; 
}
.select-selected {
  background-color: white;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 21px;
  width: 0px;
  height: 0;
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 21px;
  width: 0px;
  height: 0;
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #000;
  padding: 9px 94px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  padding-left: 47px;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.usd {
  width: 50px;
  height: 50px;
}
.usd:before {
  content: url(../icons/currency/usd-icon.png);
  position: absolute;
  top: 11px;
  left: 0px;
}
.eur {
  width: 50px;
  height: 50px;
}
.eur:before {
  content: url(../icons/currency/eur-icon2.png);
  position: absolute;
  top: 11px;
  left: 0px;
}
.gbp {
  width: 50px;
  height: 50px;
}
.gbp:before {
  content: url(../icons/currency/gbp-icon.png);
  position: absolute;
  top: 11px;
  left: 0px;
}
/* on dropdown list icons */ 
.usd-js {
  width: 50px;
  height: 50px;
  position: relative;
}
.usd-js:before {
  content: url(../icons/currency/usd-icon.png);
  position: absolute;
  top: 11px;
  left: 0px;
}
.eur-js {
  width: 50px;
  height: 50px;
  position: relative;
}
.eur-js:before {
  content: url(../icons/currency/eur-icon2.png);
  position: absolute;
  top: 11px;
  left: 0px;
}
.gbp-js {
  width: 50px;
  height: 50px;
  position: relative;
}
.gbp-js:before {
  content: url(../icons/currency/gbp-icon.png);
  position: absolute;
  top: 11px;
  left: 0px;
}
/* ======================= SEARCH ====================== */
.search {
  margin-top: 0.2rem;
}
.search > .container {
  width: 400px;
}
input[type="search"] {
  -webkit-appearance: none !important;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e5;
  font-size: 0.9rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem 1.25rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s
}
input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442 b9;
  border-color: #000;
  outline: none;
}
form.search-form {
  display: flex;
  justify-content: center;
}
label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  margin-bottom: 0;
}
input.search-field {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  height: 45px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input.search-submit {
  height: 45px;
  margin: 0;
  padding: 0.5rem 1.0rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover, .button:active, .button:focus {
  cursor: pointer;
  background: #43dde6;
  color: #364f6b;
  outline: 0;
}
/* ========================== H4 PROMOTION AND SHOPPING CART/WISH LIST/SIGN IN DIV ============= */ 
.promotion {
  width: 82%;
}
.promotion h4 {
  font-size: 1.2rem;
  font-family: "Poppins-Bold";
}
.shop-wish-acc {
  width: 84.5%;
  font-size: 14px;
  margin-bottom: 1rem;
  position: relative;
}
.logo-header {
  position: absolute;
  top: 0;
  left: 19%;
}
.logo-header h3{
  font-family: Poppins-Bold;
  text-transform: uppercase;
}
.logo-header a {
  text-decoration: none;
  color: #000;
}
.logo-header a:hover {
  text-decoration: none;
  color: rgb(126, 124, 124);
}
.shopping-cart {
  position: relative;
  margin-right: 5rem;
}
.shopping-cart:before {
  content: url(../icons/shopping-cart.png);
  position: absolute;
  left: -50px;
  top: -10;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #00EFD1;
  position: absolute;
  top: -8px;
  right: -50px;
}
.wish-list {
  position: relative;
  margin-left: 5rem;
}
.wish-list:before {
  content: url(../icons/wish-list.png);
  position: absolute;
  left: -54px;
  top: -5px;
}
.acc-sign {
  position: relative;
  margin-left: 5rem;
}
.acc-sign:before {
  content: url(../icons/acc.png);
  position: absolute;
  left: -54px;
  top: -8px;
}
/* NAVBAR */
.nav-link {
  color: #fff !important;
  text-transform: uppercase;
}
.bg-dark {
  background-color: #000 !important;
}
.collapse {
  padding-left: 15%;
}
.nav-item a {
  font-weight: 500;
  font-size: 20px;
  font-family: Poppins-Bold;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 60px !important;
}
/* =============== FEATURED PRODUCTS ============== */
.feature-title {
  text-align: center;
}
.feature-title h3 {
  text-transform: uppercase;
}
.items-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
}
.item-wrap {
  flex: 1 0 21%; /* explanation below */
  margin: 27px;
  margin-top: 15px;
}
.card {
  border: none !important;
  text-align: center !important;
}
.card-img-top {
  position: relative;
}
.card-body h5 {
  color: #676767 !important;
}
.card-text {
  font-family: "Poppins-SemiBold";
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 2rem;
}
.img-card {
  position: relative;
}
.best-seller {
  width: 80px;
  height: 40px;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: capitalize;
  font-family: "Poppins-Light";
}
.new-product {
  width: 80px;
  height: 40px;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  font-family: "Poppins-Light";  
}
.discount {
  width: 80px;
  height: 40px;
  font-size: 13px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #364f6b;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-family: "Poppins-Light";
}
.view-product-btn {
  text-decoration: none; 
  background-color: #fff;
  color: #000;
  padding: 12px 48px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Nunito";
  cursor: pointer;
  border: 2px solid #000;
  text-transform: uppercase;
}
.view-product-btn:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
.show-all-products {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  padding: 14px 28px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Nunito";
  cursor: pointer;
  border: 2px solid #000;
}
.show-all-products:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
#discount {
  color: #2193B0;
}
.btn-feature-products {
  text-align: center;
}
/* ============= CATEGORIES ============ */
.title h3 {
  text-align: center;
  text-transform: uppercase;
}
.categories {
  position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cate-img {
  width: 475px;
  height: 480px;
  display: inline-block;
  flex: 0 31 50%;
  margin-bottom: 20px;
}
/* ================ IMG BANNER */
.img-banner {
  width: 100%;
  height: 270px;
}
/* ZIG ZAG INFO */
.img-zigzag-one {
  width: 100%;
  height: 77.354%;
}
.img-zigzag-two {
  width: 100%;
  height: 77.354%;
}
.img-zigzag-one img {
  width: 50.05%;
  height: 100%;
  float: left;
}
.zigzag-text h3 {
  text-transform: uppercase;
}
.img-zigzag-two img {
  width: 50.05%;
  height: 100%;
  float: right;
}
.zigzag-text {
  display: table;
  height: 100%;
  padding-left: 20px;
}
.align-text {
  display: table-cell;
  vertical-align: middle;
}
/* Testimonials */
.testimonials{
  padding: 150px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}

.border{
  width: 160px;
  height: 5px;
  background: rgba(33,147,176,1);
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 0px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: rgba(33,147,176,1);
  margin-bottom: 20px;
}
.text-contain-testi {
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
}
.fa, .fas {
  font-weight: 900;
  color: rgba(33,147,176,1);
}
/* Subscribe To our news letter */
.sub-to-our-news {
  position: relative;
}
.sub-newslatter {
  position: relative;
  width: 100%;
  height: 800px;
}
.title-sub {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.title-sub > h1 {
  padding-bottom: 30px;
  text-transform: uppercase;
}
.subscribe-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 32%;
}
.form-control {
  padding: 1.375rem 0.75rem !important;
  border-radius: 0 !important;
}
/* FOOTER */
#footer {
  position: relative;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 60%;
}
.footer-menu-info {
  background-color: #232323;
}
.logo-footer {
  margin-top: 10rem;
  padding-left: 25%;
}
.logo-footer h2 {
  color: #fff;
  text-transform: uppercase;
}
.shop-footer {
  margin-top: 6rem;
}
.shop-footer a {
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 28px;
}
.shop-footer a:hover {
  color: wheat;
  transition: 0.2s;
  text-decoration: none;
}
.shop-footer h4 {
  color: #fff;
  text-transform: uppercase;
}
.information-footer {
  margin-top: 6rem;
}
.information-footer a {
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 28px;
}
.information-footer a:hover {
  color: wheat;
  transition: 0.2s;
  text-decoration: none;
}
.information-footer h4 {
  color: #fff;
  text-transform: uppercase;
}
.social-media-footer {
  margin-top: 6rem;
  position: relative;
}
.social-media-footer h4 {
  color: #fff;
  text-transform: uppercase;
}
.stay-connected {
  position: absolute;
  left: 230px;
  top: -8px;
}
.social-media-icons {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-right: 20px;
}
.social-media-youtube {
  width: 65px;
  height: 45px;
  margin-top: 40px;
  margin-right: 20px;
}
.hr-footer hr {
  background-color: #fff;
  margin-top: 6rem;
}
.copyright {
  display: table-cell;
  vertical-align: middle;
}
.copyright h5 {
  color: #fff;
  padding-bottom: 2rem;
}
.copyright img {
  padding-right: 1rem;
}

/* ========================= Prodcut Page =========================== */
/* wrapper */

.product-page-items {
  margin-left: 15%;
}

/* Breadcrumb */
/* Style the list */
ul.breadcrumb {
  padding: 10px 0px;
  list-style: none;
  background-color: #fff;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* =============== categories ================= */
.product-page-categories-list > ul > li {
  padding-bottom: 12px;
}
/* =============== featured product =============== */
.product-title-size {
  font-size: 120%;
}
.view-product-btn-product-page {
  text-decoration: none; 
  background-color: #fff;
  color: #000;
  padding: 14px 54px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Nunito";
  cursor: pointer;
  border: 2px solid #000;
  text-transform: uppercase;
}
.view-product-btn-product-page:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
.splide__slide img {
	width : 100%;
	height: auto;
}
