@import url(./fonts.css);
@import url(./media-query.css);

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    overflow-x: hidden;
}
/* Header start */
.top-bar-sale {
  background-color: #00CEEF;
  padding: 10px 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.top-bar-sale h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
header .container-fluid {
  padding: 0;
}
.header {
  width: 85%;
}
/* CURRENCY DROPDOWN (CONVERTER) */
.currency-dropdown {
  position: relative;
  width: 200px;
}
/*hide original SELECT element: */
.currency-dropdown select {
  display: none; 
}
.select-selected {
  background-color: white;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 21px;
  width: 0px;
  height: 0;
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 21px;
  width: 0px;
  height: 0;
  border: solid black;
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.usd {
  width: 50px;
  height: 50px;
}
.usd:before {
  content: "";
  background-image: url(/icons/usd.png);
  background-size: 50% 50%;
  position: absolute;
  top: 5px;
  left: 0px;
}
.promotion {
  width: 82%;
}
.shop-wish-acc {
  width: 80%;
}
/* FEATURED PRODUCTS */
.feature-title {
  text-align: center;
}
.feature-title h3 {
  text-transform: uppercase;
}
.products {
  width: 100%;
}
.btn-feature-products {
  text-align: center;
}
.title h3 {
  text-align: center;
  text-transform: uppercase;
}
.categories {
  position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cate-img {
  width: 475px;
  height: 480px;
  display: inline-block;
  flex: 0 31 50%;
  margin-bottom: 20px;
}
/* IMG BANNER */
.img-banner {
  width: 100%;
  height: 270px;
}
/* ZIG ZAG INFO */
.img-zigzag-one {
  width: 100%;
  height: 77.354%;
}
.img-zigzag-two {
  width: 100%;
  height: 77.354%;
}
.img-zigzag-one img {
  width: 50.05%;
  height: 100%;
  float: left;
}
.zigzag-text h3 {
  text-transform: uppercase;
}
.img-zigzag-two img {
  width: 50.05%;
  height: 100%;
  float: right;
}
.zigzag-text {
  display: table;
  height: 100%;
  padding-left: 20px;
}
.align-text {
  display: table-cell;
  vertical-align: middle;
}
/* Testimonials */
.testimonials{
  padding: 150px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}

.border{
  width: 160px;
  height: 5px;
  background: rgba(33,147,176,1);
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 0px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: rgba(33,147,176,1);
  margin-bottom: 20px;
}
.text-contain-testi {
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
}
.fa, .fas {
  font-weight: 900;
  color: rgba(33,147,176,1);
}
/* Subscribe To our news letter */
.sub-to-our-news {
  position: relative;
}
.sub-newslatter {
  position: relative;
  width: 100%;
  height: 800px;
}
.title-sub {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.title-sub > h1 {
  padding-bottom: 30px;
  text-transform: uppercase;
}
.subscribe-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 32%;
}
.form-control {
  padding: 1.375rem 0.75rem !important;
  border-radius: 0 !important;
}
/* FOOTER */
#footer {
  position: relative;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 60%;
}
.footer-menu-info {
  background-color: #232323;
}
.logo-footer {
  margin-top: 150px;
  padding-left: 25%;
}
.logo-footer h2 {
  color: #fff;
  text-transform: uppercase;
}
.shop-footer {
  margin-top: 100px;
}
.shop-footer a {
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 28px;
}
.shop-footer a:hover {
  color: wheat;
  transition: 0.2s;
  text-decoration: none;
}
.shop-footer h4 {
  color: #fff;
  text-transform: uppercase;
}
.information-footer {
  margin-top: 100px;
}
.information-footer a {
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 28px;
}
.information-footer a:hover {
  color: wheat;
  transition: 0.2s;
  text-decoration: none;
}
.information-footer h4 {
  color: #fff;
  text-transform: uppercase;
}
.social-media-footer {
  margin-top: 100px;
}
.social-media-footer h4 {
  color: #fff;
  text-transform: uppercase;
}
.hr-footer hr {
  background-color: #fff;
  margin-top: 6rem;
}
.copyright {
  display: table-cell;
  vertical-align: middle;
}
.copyright h5 {
  color: #fff;
  padding-bottom: 2rem;
}
.copyright img {
  padding-right: 1rem;
}